$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$light-purple: rgb(247, 243, 255);

body{
    font: 100% $font-stack;
    color: $primary-color;
    margin: 0px;
}

.main{
    width: 70%;
    margin: auto;
}

img{
    display: block;
    margin: auto;
    height: 300px;
}

.slider-container{
    display: flex;
    justify-content: center;
}

.center{
    width:60%;
    margin: auto;
    text-align: center;
}

.right{
    position: absolute;
    right: 0px;
}

table, td, th{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
    color: 333;
    background-color: $light-purple;
}

table{
    width: 100%;
    margin-top: 10px;
}


.bookvisit{
    background-color: $light-purple;
}

a{
    color: white;
    text-decoration: none;
}

.card{
    height: 300px;
    display: flex;
    margin: 5vh;
    img{
        width: 40%;
    }
    .card-body{
        width: 60%;
        margin-left: 20px;
        background-color: #F4F4F4;
        padding: 2em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
}

.flex-box{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-box-vert{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media screen and (max-width:600px){
    .main{
        width: 80%;
    }
    .flex-box{
        flex-wrap: wrap;
    }

    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 5vh;
        position: relative;
        img{
            flex: 1 1 auto;
            height: 150px;
            width: 100%;
        }
        .card-body{
            width: calc(100% - 20px);
            margin-left: 0px;
            background-color: #F4F4F4;
            position: relative;
            flex: 1 1 auto;
        }
    }
}

@media screen and (max-width:900px){
    a{
        color: $primary-color;
        text-decoration: none;
    }
}

.disabled{
    display: none;
}