$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$light-purple: rgb(247, 243, 255);

body{
    font: 100% $font-stack;
    color: $primary-color;
    margin: 0px;
}

.main{
    width: 70%;
    margin: auto;
}

img{
    display: block;
    margin: auto;
    height: 300px;
}

.slider-container{
    display: flex;
    justify-content: center;
}

.center{
    width:60%;
    margin: auto;
    text-align: center;
}

table, td, th{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
    color: 333;
    background-color: $light-purple;
}

table{
    width: 100%;
    margin-top: 10px;
}


.bookvisit{
    background-color: $light-purple;
}

.right{
    position: absolute;
    right: 0px;
}

a{
    color: white;
    text-decoration: none;
}

.card{
    height: 300px;
    display: flex;
    img{
        width: 40%;
    }
    .card-body{
        width: 60%;
        margin-left: 20px;
        background-color: #F4F4F4;
        padding: 10px;
    }
}

.flex-box{
    display:flex;
    flex-wrap: nowrap;
}

@media screen and (max-width:600px){
    .main{
        width: 80%;
    }
    .flex-box{
        flex-wrap: wrap;
    }
}

.disabled{
    display: none;
}